body {
    font-family: "Arial";
}
.pmc_logo {
    width: 20%;
    height: 20%
}
.logo_container {
    margin: 0 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo_container .address {
    margin: 1%;
    font-weight: 550;
}
.bg-color {
    background-color: #e2e2e2;
    border-bottom: 3px solid #10155e;
}
.line-right {
    border-right: 1px solid #d4d4d4;
}
.align-right {
    float: right;
}
.footer_container .btn-primary {
    background-color: #10155e;
    border-color: #040621;
}
.footer_container .btn-primary:hover {
    background-color: #6da81a;
    border-color: #8dc63f;
}
.required {
    color: red;
}
.footer_container {
    background-color: #e2e2e2;
    border-radius: 2px;
    padding: 10px 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}